html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body {
	background: radial-gradient(#3f3f3f, #1b1b1b);
}

/* --- Utilities --- */
.accent {
	color: rgb(253, 236, 0);
}

.bold {
	font-weight: 700;
}

/* --- Navbar --- */

.navbar-custom {
	background: linear-gradient(#31313186, rgba(255, 255, 255, 0));
	position: fixed;
}

#mainNavbar .navbar-brand {
	color: rgb(253, 236, 0);
	font-weight: 400;
}

#mainNavbar .nav-link {
	font-weight: 300;
	color: rgb(255, 255, 255);
}

#mainNavbar .nav-link:hover {
	color: rgb(253, 236, 0);
	cursor: pointer;
}

.navbar-toggler {
	border-color: rgba(253, 236, 0, 0.445);
}

/* --- Body --- */

#row1 #a1 {
	padding-top: 10px;
}

#body-content #row2 h2 {
	margin-top: 80px;
}

#row4 p {
	padding: 5px 15px;
}

img {
	box-shadow: 0 1 1 1 rgba(54, 54, 54, 0.719);
}

.content {
	margin-top: 70px;
}

.contentText {
	position: relative;
	justify-content: center;
	display: flex;
}

h1 {
	color: white;
	font-size: 4rem;
	font-weight: 150;
	padding: 0px;
	margin: 0px;
}

h2 {
	color: white;
	font-size: 4rem;
	font-weight: 200;
	padding: 0px;
	padding-bottom: 5px;
	margin: 0px;
}

h2 #row3text {
	padding: 0 10px;
}

p {
	color: white;
	font-size: 1.5em;
	font-weight: 300;
}
/* --- Buttons --- */

button {
	background: none;
	color: rgb(253, 236, 0);
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	border: 2px solid;
	margin-top: 1.5em;
	padding: 1em 2em;
	transition: 0.5s;
	border-radius: 10%;
}

button:hover {
	border-color: #1b1b1b;
	background-color: rgb(253, 236, 0);
	color: #1b1b1b;
	box-shadow: 0 0.5em 0.5em -0.4em rgb(253, 236, 0);
	transform: translatey(-0.30em);
	cursor: pointer;
}

button:active {
	border-color: #1b1b1b;
}

/* --- Media Query --- */

@media (max-width: 1010px) {
	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 3rem;
	}
	button {
		padding: 0.5em 1em;
	}
	.contentText {
		margin-top: -45px;
		margin-bottom: 30px;
	}
}
